:root{
  --orange:#ffb938;
}
html{
	background-color:#FAF9F6;
	margin:	auto;
	max-width: 35rem;
}

h2{text-align:center;}
	
body {font-family: Arial, Helvetica, sans-serif;}
form {
	border: 3px solid #f1f1f1;
	border-radius: 25px;
	background-color:#FFFFFF;
}

input[type=email], input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #ffb938;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 25px;
}

span.psw {
  float: right;
}
a{
	color: var(--orange);
  
}
#hide{
	float:right;
}
#hide:hover{
	cursor:pointer;
}
.top{
	padding: 0px 100px;

}
