@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
body{ 
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(../images/wood.jpg);

}
:root{
  --orange:#ffb938;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition:all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;

	max-width: 150rem;
}

section{

  padding:2cm;
  top:2.5cm;
}

.speciality{
	position:relative;

}
.heading{
  font-size: 3rem;
text-align:center;
position:absolute;
top:0px;
left:400px;

  color:#666;
  font-weight:bold;
  animation: textanimation 2s ;

}
@keyframes textanimation {
    0% {
        letter-spacing: 3px;
    }
    100% {
        letter-spacing: 1px;
	}
}
.heading2 {

display:inline-block;
align-items:center;
justify-content: space-between;
margin-left:170px;
margin-bottom:20px;
 background-color: #ffb938;
  height:1cm;
  width:4cm;

  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(1,0,0,1), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom: solid 4px #a1721b;
}
.heading:active {/*on Click*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    border-bottom: none;/*disappears*/
}
.heading2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,1), 0 17px 50px 0 rgba(0,0,0,2);
}

.heading2 a{
	font-size: 2.5rem;
	  color: white;
}
.heading2 a:link {
  color: white;
}
.heading2 a:visited {
   color: white;
    font-weight:bold;
}
.heading span{
  color:var(--orange);
}
.heading span:hover{
  color:white;
}


header{
  top:0; left: 0; right:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.479);
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#666;

}

header .logo i{
  padding-right: .5rem;
  color:var(--orange);
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color:rgb(255, 254, 254);
}

header .navbar a:hover{
  color:var(--orange);
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}

.speciality .box-container2{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
    
}

.speciality .box-container .box{

  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  position: relative;
  margin-left:20px;
 
}
.speciality .box1{
  border-radius: .5rem;
  position: relative;
    
}
.speciality .box1 .image{

  object-fit: cover;
  height:50%;
	width:50%;
margin-left:300px;
 border-radius:1rem;
}

.speciality .box-container .box .content{
  background:#fff;
  opacity:80%;
  height:100%;
  width:100%;
  padding:5rem;
  border-radius:2rem;

}



.speciality .box-container .box .content .green{
  color:#52a613;
  font-weight:bold;
}

.speciality .box-container .box .content h3{
  font-size: 5rem;
  text-align: center;
  color:#666;
  
}

.speciality .box-container .box .content  li,p{
  font-size: 2rem;
  color:#666;
  padding:1rem 0;
}
.speciality .box-container .box .content p{
  text-align:center;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.Recipe-IngredientList{
	font-size: 2rem;
  color:#666;
  padding:1rem 0;

}
#servingInput{
	font-size: 1.75rem;
	padding:1px;
  border:2px solid #ccc;
  border-radius:1rem;
  width:5cm;

}
#port{

	  padding-top:6px;
	  padding-left:370px;
}
#port button{
  color:#666;
   cursor: pointer;
		font-weight:bold;
	  width:1cm;
	  height:1cm;
	  font-size:3rem;
	  text-align: center;
	  background-color:transparent;
}

#port #search button{
 text-align: center;
 background-color: #ffb938;
  color: white;
  height:0.5cm;
  margin-left:300px ;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 2cm;
  font-size:15px;
}
#port label{
	  color:#ffb938;
	  font-weight:bold;
}
#box2{
  height:400px;
    width: 500px;
  border: 3px solid #f1f1f1;
    border-radius: 25px;
    background-color:#FFFFFF;
    box-shadow: 0 0 10px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding-top: 80px;
padding-left:15px;
  opacity:97%;

    font-size:25px;
    display: none;
  }

  #box2 p{
    width:12cm;
    height:2cm;
    padding-right:0px;
  }
  

  .modal .close{
    background-color:orange;
  position: absolute;
    font-size: 30px;
  color: white;
  font-weight:bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
  }
  .modal .close h2{
    font-size: 30px;
  padding-left:100px;
  }

  .contentbox a{
    color:var(--orange);
  }
.Recipe-IngredientList #Sum{
	text-align:center;
	color: #ffb938;
	font-weight:bold;
	  font-size:3rem;
}
.box #fact #serve:hover{
	background-color:transparent;
}
.box #fact  p:hover{
background-color:var(--orange);
}
.scrolldown{
position:absolute;
	bottom:80px;
	left:1200px;
	width:50px;
	height:50px;

	transform:translateY(-80px) translateX(-50%);
	  transform: rotate(45deg);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 1rem;
}
#myBtn img{
	object-fit:cover;
	width:1cm;
	height:1cm;
}
.scrolldown span{
position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:block;

	border-bottom:4px solid orange;
	border-right:4px solid orange;
	animation:animate 1.5s linear infinite;
	opacity:0;
}
.scrolldown span:nth-child(1){
	transform:translateY(-15px) translateX(-15px);
	animation-delay:-0.4s;
}
.scrolldown span:nth-child(2){
	transform:translateY(0) translateX(0);
	animation-delay:-0.2s;
}
.scrolldown span:nth-child(3){
	transform:translateY(15px) translateX(15px);
	animation-delay:0s;
}
@keyframes animate{
	0%{
		top:-5px;
		left:-5px;
		opacity:0;
	}
	25%{
		top:0px;
		left:0px;
		opacity:1;
	}
	100%{
		top:5px;
		left:5px;
		opacity:0;
	}
	
}









